# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Environment
.env
.env.production
.env.docker

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
logs/

# Database
*.db
*.sqlite
*.sqlite3

# Storage
storage/input/*
storage/output/*
!storage/.gitkeep

# OS
.DS_Store
Thumbs.db
desktop.ini

# Docker (опционально)
# *.pid
# *.seed
# *.pid.lock
